.Contact hr{
    margin-bottom: 20px;
}
form{
    font-size: 1.2rem;
}
form label{
    display: block;
    width: 50%;
    margin: 0 auto;
}
input, textarea,
input:focus, textarea:focus{
    width: 50%;
    padding: 1rem;
    color: beige;
    border: none;
    background-color: rgba(67, 67, 67, 0.678);
    box-shadow: none;
    cursor: pointer;
    margin: 1rem 0 2rem;
}
textarea{
    resize: none;
}
button{
    background-color: rgba(68, 68, 68, 0.582);
    border: none;
    padding: 0.8rem;
    color: rgba(245, 245, 220, 0.829);
    border-radius: 20%;
    transition: background-color 0.6s ease-out, box-shadow 0.7s ease;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: rgba(245, 245, 220, 0.822);
    color: rgba(93, 93, 93, 0.997);
    box-shadow: 0 2px 5px 0 slategray;
}
.redes img{
    width: 40px;
    height: 40px;
}
.redes #linkedin{
    width: 50px;
    height: 50px;
}

