html{
    background-image: url(../img/cornered-stairs.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.menu{
    background:#121212c0;
    padding: 2rem 0;
    
}
a{
    text-decoration: none;
    color:var(--white);
    padding: 0 10px;
    transition: 0.4s ease;
}
a:hover{
  opacity: 0.25;
  
  cursor: pointer;
}
hr{
    height: 0.1rem;
    border: 0;
    max-width: 50%;
    background-image: linear-gradient(to right,rgb(48, 49, 49)10%,rgb(255, 255, 255), rgb(54, 54, 54));
}
footer{
    background-color: rgba(25, 35, 48, 0.884);
    padding: 2rem 0;
}